<div> 
   <main>
      <section>
         <h1 class="text-center">Innova Mind</h1>
         <h4 class="text-center">Welcome to our wonderful community</h4>
         <div class="card">
         <div class="card-body">
                   
         <div class="text-end display-6">Innova Mind</div><br>

         <h2 class="text-end">InnovaMind is a forward-thinking startup focused on innovation. We are dedicated to creating efficient and powerful software through the use of first-class functions.</h2>
          <br>
         <button type="button" class="btn btn-outline-info">Show more</button>

          </div>  
          </div>  
          <br>
          <br>



         <div class="card">
         <div class="card-body">
          
         <br>
         <div class="display-5">Advantage</div>
         <br>
         <div class="card">
         <div class="card-body">
         <br>

          <div class="display-4">Efficiency</div>
          <br>
          <div> <h6>Streamline your software development</h6> </div>
          <br>
          <div> <h6>Streamline your software development with our innovative platform...</h6> </div>
          <br>
          <div> <button type="button" class="btn btn-outline-warning">Show more</button> </div>
          </div>
          </div>
         
          
          <br>


          <div class="card">
          <div class="card-body">
            <br>
          <div class="text-center display-4">Innovation</div>
          <br>
          <div><h6 class="text-center">Forward-thinking approach to programming</h6></div>
           <br>
         <div><h6 class="text-center"> Stay ahead of the curve with our forward-thinking approach to programming...</h6></div>
          <br>
          <div><button type="button" class="btn btn-outline-warning">Show more</button></div>

          </div>
          </div>
          <br>

           <div class="card">
          <div class="card-body">
          <div class="text-end display-4">Collaboration</div>
          <br>
          <div><h6 class="text-end">Connect with like-minded developers</h6></div>
          <br>
          <div><h6 class="text-center"> Connect with a community of like-minded developers to share knowledge and insights...</h6></div>
          <br>
          <div><button type="button" class="btn btn-outline-warning">Show more</button></div>

          </div>
          </div>
          <br>

          <div class="card">
          <div class="card-body">
          <div class="display-5">Terms of use</div>
          <br>
          <div class="card">
            <div class="card-body">
          <div><h5>Check out our requirements</h5></div>
          <br>
          <div class="card">
         <div class="card-body">
          <div><h6>By using or accessing the service, you agree to be bound by the terms and conditions outlined in the agreement.</h6></div>
          <br>
          
          <div><button type="button" class="btn btn-success">Аccept</button></div>
         </div>
         </div>
         </div>
         </div>
         <br>
          
          </div>
          <br>
          </div>







         
         
   





             
              
         </ul>
      </section>
   </main>
</div>